.content-container {
    margin: 3%;
    padding: 2%;
    background-color: whitesmoke;
    opacity: 90%;
}
body {
    background-image: url("images/einstein.jpg");
    background-size: 100px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}